<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils WebSite</title>
</head>
<body>
    <h1>Text Analyzer Website</h1>
    <h3>Enter Your Text Here :- </h3>
    <form action="/analyze" method="get">
        <textarea name="text" style="width: 1282px; height: 144px;"></textarea><br>
        <input type="checkbox" name="Capatilze">Capatilze<br>
        <input type="checkbox" name="removepunc">Remove Puncuation<br>
        <input type="checkbox" name="newlineremove">New Line Remove<br>
        <input type="checkbox" name="spaceremove">Space Remove<br>
        <input type="checkbox" name="charcount">Character Count<br>
        <button type="submit" >Analyze</button>
    </form>
</body>
</html>